<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Therapist Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script> <!-- Add this line -->
    <script src="{{ url_for('static', filename='app.js') }}" defer></script>
</head>
<body>
    <div id="chat-container">
        <div id="chat-window" role="log" aria-live="polite"></div>
        <form id="chat-input" aria-labelledby="user-input-label">
            <input type="text" id="user-input" name="input" required aria-required="true" placeholder="Type your message here">
            <button type="submit" class="send-btn"> ↑ </button>
            <button type="button" id="mic-btn" class="mic-btn" aria-pressed="false">🎙️</button>
        </form>
    </div>
    <script>
        async function fetchConfig() {
            const response = await fetch('/config');
            const config = await response.json();
            return config;
        }

        document.addEventListener("DOMContentLoaded", async () => {
            const config = await fetchConfig();
            window.azureSpeechConfig = config;
        });
    </script>
</body>
</html>
