<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="DISCORD_TOKEN" value="%DISCORD_TOKEN%" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="PythonHandler" path="startup.sh" verb="*" modules="FastCgiModule" scriptProcessor="python.exe|bot.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
